html {
  color-scheme: dark;
}


.names {
  font-weight: 900;
  color: white;
}

.button {
  width: 100px;
  height: 30px;
  border-radius: 30px;
  background: red;
}

.input {
  color: white;
  background: red;
  border-radius: 30px;
  height: 30px;
}


li {
  background: red;
  width: 200px;

}